aws.csv
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform
terraform/package
terraform/terraform.tfvars
terraform/lambda.zip
*DS_Store
test.py

